:root {
  --foreground: #d9e5f2;
  --background: #1b1c1d;
  --background-light: #242424;
  --black-light: #505559;
  --radius: 0.5rem;
  --space: 1rem;
}

html {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-monospace;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Display */

#display {
  font-size: 2rem;
  display: flex;
  justify-content: end;
  line-height: 1;
  margin-bottom: var(--space);
  border-radius: var(--radius);
}

/* Keys */

.key {
  color: var(--foreground);
  background: var(--black-light);
  display: flex;
  font-weight: 500;
  border-radius: var(--radius);
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}

#keyBlock {
  display: flex;
}

.keyGroup {
  gap: var(--space);
  display: grid;
}

#operators {
  margin-left: var(--space);
}

#operators > div {
  background: #cc9600;
  color: white;
}
#functions {
  margin-bottom: var(--space);
  grid-template-columns: auto auto auto;
}

#functions > div {
  background: #bdc3c7;
  color: var(--background);
}

/* Number Block */

#numBlock {
  grid-auto-flow: dense;
  grid-template-columns: auto auto auto;
}

#num8,
#num5,
#num2 {
  grid-column-start: 2;
}

#num9,
#num6,
#num3 {
  grid-column-start: 3;
}

.numKey {
}
